{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "BWAdminBundle::layout.html.twig" %}

{% block title %}
    Produits
{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            Catalogue
            <small>Paneau d'Administration</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Acceuil</a></li>
            <li class="active">Categorie</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <section class="col-lg-12 connectedSortable ui-sortable">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Nouveau produits</h3>
                    </div>
                    {{ form_start(form) }}

                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}
                    <div class="box-body">

                        <div class="form-group">
                            {{ form_label(form.name, "Nom ") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.name) }}
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                {# Génération de l'input. #}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder' : '' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.categories, "Categories ") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.categories) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.categories, {'attr': {'class': 'form-control', 'placeholder' : '' }}) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.price, "Prix ") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.price) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder' : '' }}) }}

                        </div>

                        <div class="form-group">
                            {{ form_label(form.description, "Description ") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.description) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder' : '' }}) }}

                        </div>

                        <div class="form-group">
                            {{ form_label(form.images, "Image ") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.images) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.images, {'attr': {'class': 'file', 'placeholder' : '' }}) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.enabled, "Affichée ") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.enabled) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.enabled, {'attr': {'class': 'file', 'placeholder' : '' }}) }}

                        </div>

                    </div>
                    <div class="box-footer">


                            <button type="submit"  class="btn btn-app ">
                                <i class="fa fa-save"></i> Enregistrer
                            </button>

                            {# Génération automatique des champs pas encore écrits.
                               Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                               et tous les champs cachés (type « hidden »). #}
                            {{ form_rest(form) }}

                            {# Fermeture de la balise <form> du formulaire HTML #}
                            {{ form_end(form) }}
                      
                    </div>
                </div>


            </section>
        </div>
    </section>




{% endblock %}

{% block script %}


{% endblock %}