{% extends "BWFrontBundle::layout.html.twig" %}
{% block title %} Panier {% endblock %}
{% block bodyId %}layout{% endblock %} {% block bodyClass %} s{% endblock %}

{% block content %}
    <div class="container">
        <section id="blogwrap">
            <div class="row-fluid">
                <div class="span8">
                    <div class="blog-second-item single">
                        <h3 class="post-title">Cart</h3>

                        <table class="table wishlist table-hover table-bordered">
                            <thead>
                            <tr>
                                <th class="span2">Image</th>
                                <th class="span3">Product Name</th>
                                <th class="span1">Quantity</th>
                                <th class="span3">Price</th>
                                <th class="span2">Total</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for key, val in cart %}
                            <tr>
                                <td class="image"><a href="product.html"><img title="product" alt="product" src="{{ asset('uploads/products/'~val.products.images) }}" width="100"></a></td>
                                <td class="product"><a href="product.html" title="Example Product">{{ val.products.name }}</a> </td>
                                <td class="stock">{{ val.quantity }}</td>
                                <td class="price"> <b>{{ val.products.price }} FCFA</b></td>
                                <td class="price"><b>{{ val.products.price  * val.quantity}} FCFA</b></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                        <div class="pull-right">
                            <a href="{{ path('bw_front_checkout') }}" class="btn btn-general">Confirmer</a> <a href="{{ path('bw_front_homepage') }}" class="btn btn-general">Continuer vos achats</a>
                        </div>


                    </div><!-- /blog-second-item -->
                </div><!-- end span8 -->



            </div><!-- /row-fluid -->
        </section><!-- /container -->
    </div><!-- /box -->
{% endblock %}