{% extends "BWFrontBundle::layout.html.twig" %}
{% block title %} Panier {% endblock %}
{% block bodyId %}layout{% endblock %} {% block bodyClass %} s{% endblock %}

{% block content %}
    <div class="container">
        <section id="blogwrap">
            <div class="row-fluid">
                <div class="span8">
                    <div class="blog-second-item single">
                        <h3 class="post-title">Cart</h3>

                        <table class="table wishlist table-hover table-bordered">
                            <thead>
                            <tr>
                                <th class="span2">Image</th>
                                <th class="span3">Product Name</th>
                                <th class="span1">Quantity</th>
                                <th class="span3">Price</th>
                                <th class="span2">Total</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for key, val in cart %}
                            <tr>
                                <td class="image"><a href="product.html"><img title="product" alt="product" src="{{ asset('uploads/products/'~val.products.images) }}" width="100"></a></td>
                                <td class="product"><a href="product.html" title="Example Product">{{ val.products.name }}</a> </td>
                                <td class="stock">{{ val.quantity }}</td>
                                <td class="price"> <b>{{ val.products.price }} FCFA</b></td>
                                <td class="price"><b>{{ val.products.price  * val.quantity}} FCFA</b></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                        <div class="pull-right">
                            <a href="{{ path('bw_front_checkout') }}" class="btn btn-general">Confirmer</a> <a href="{{ path('bw_front_homepage') }}" class="btn btn-general">Continuer vos achats</a>
                        </div>


                    </div><!-- /blog-second-item -->
                </div><!-- end span8 -->

                <div id="sidebar" class="span4">

                    <div class="widget">
                        <div id="white">
                            <form method="get" action="http://designingmedia.com/search" id="search">
                                <input name="q" type="text" size="40" placeholder="Search..." />
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <ul id="widgetTab" class="nav nav-tabs">
                            <li class="active"><a href="#popular" data-toggle="tab">Popular Posts</a></li>
                            <li><a href="#recent" data-toggle="tab">Recent Posts</a></li>
                        </ul>
                        <div id="widgetTabcontent" class="tab-content">
                            <div class="tab-pane fade in active" id="popular">
                                <ul class="tabber-posts">
                                    <li>
                                        <div class="tabber-thumbnail">
                                            <a href="#" title="Permalink to this product" rel="bookmark"><img class="img-polaroid" width="90" src="demos/01_recent.png" alt="" /></a>
                                        </div><!-- review-thumbnail /-->
                                        <h3><a href="#" title="Permalink to this product">Amazing blog post with custom features</a></h3>
                                        <span class="data"><i class="icon-calendar"></i> June 14, 2013</span>
                                    </li>

                                    <li>
                                        <div class="tabber-thumbnail">
                                            <a href="#" title="Permalink to this product" rel="bookmark"><img class="img-polaroid" width="90" src="demos/02_recent.png" alt="" /></a>
                                        </div><!-- review-thumbnail /-->
                                        <h3><a href="#" title="Permalink to this product">Did you check our new work on Dribbble?</a></h3>
                                        <span class="data"><i class="icon-calendar"></i> June 11, 2013</span>

                                    </li>

                                    <li>
                                        <div class="tabber-thumbnail">
                                            <a href="#" title="Permalink to this product" rel="bookmark"><img class="img-polaroid" width="90" src="demos/03_recent.png" alt="" /></a>
                                        </div><!-- review-thumbnail /-->
                                        <h3><a href="#" title="Permalink to this product">A Great Solution!</a></h3>
                                        <span class="data"><i class="icon-calendar"></i> June 1, 2013</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="recent">
                                <ul class="tabber-posts">
                                    <li>
                                        <div class="tabber-thumbnail">
                                            <a href="#" title="Permalink to this product" rel="bookmark"><img class="img-polaroid" width="90" src="demos/04_recent.png" alt="" /></a>
                                        </div><!-- review-thumbnail /-->
                                        <h3><a href="#" title="Permalink to this product">New Illustrator Item</a></h3>
                                        <span class="data"><i class="icon-calendar"></i> June 14, 2013</span>
                                    </li>

                                    <li>
                                        <div class="tabber-thumbnail">
                                            <a href="#" title="Permalink to this product" rel="bookmark"><img class="img-polaroid" width="90" src="demos/05_recent.png" alt="" /></a>
                                        </div><!-- review-thumbnail /-->
                                        <h3><a href="#" title="Permalink to this product">Would you like this template?</a></h3>
                                        <span class="data"><i class="icon-calendar"></i> June 11, 2013 </span>

                                    </li>

                                    <li>
                                        <div class="tabber-thumbnail">
                                            <a href="#" title="Permalink to this product" rel="bookmark"><img class="img-polaroid" width="90" src="demos/06_recent.png" alt="" /></a>
                                        </div><!-- review-thumbnail /-->
                                        <h3><a href="#" title="Permalink to this product">Please follow us on ThemeForest!</a></h3>
                                        <span class="data"><i class="icon-calendar"></i> June 1, 2013</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /end widget -->

                    <div class="widget">
                        <div class="dm-title">
                            <h3>Twitter Stream</h3>
                            <span></span>
                        </div>
                        <ul class="tw-widget">
                            <li>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below....<br>
                                    <a title="" href="#"><i class="icon-mail-forward"></i> Retweet</a> <a title="" href="#"><i class="icon-twitter"></i> designingmedia</a>
                                </p>
                            </li>
                            <li>
                                <p>TCicero are also reproduced in their exact original form, accompanied. Donec id elit non mi porta gravida at eget metus.<br>
                                    <a title="" href="#"><i class="icon-mail-forward"></i> Retweet</a> <a title="" href="#"><i class="icon-twitter"></i> designingmedia</a>
                                </p>
                            </li>
                        </ul>
                    </div><!--/widget-->

                    <div class="widget">
                        <div class="dm-title">
                            <h2>About Flayz</h2>
                            <span></span>
                        </div>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied. Donec id elit non mi porta gravida at eget metus.</p>
                        <a class="btn btn-general" href="#">Learn more</a>
                    </div><!-- /end widget -->

                </div><!-- /span4 sidebar -->

            </div><!-- /row-fluid -->
        </section><!-- /container -->
    </div><!-- /box -->
{% endblock %}